= form_for(current_guide.guide_wisatas.find_by(wisata_id: @wisata.id), html: { method: :delete }) do |f|                                                       
  = f.submit "UnGuide", class: "btn btn-unguide"
