.panel-kategori {
  background: none;
  box-shadow: none;
  border: 0px;
  .panel-body {
    padding-bottom: 0px;
    padding-top: 0px;
    .btn-custom-kategori {
      border-bottom: 1px solid rgba(90, 87, 87, 0.51);
      background: #c6222f;
      &:hover {
        background: #fff;
      }
      color: white;
      .btn {
        padding: 10px 100px;
        background: none;
        &:hover,
        &:focus {
          background: #fff;
          color: #c6222f;
        }
      }
    }
  }
}
.btn-berita {
  background-color: #c6222f;
  border-color: transparent;
  color: white;
  &:hover,
  &:focus {
    background: #fff;
    color: #c6222f;
    border-color: #c6222f;
  }
}
.btn-guide {
  background-color: #c6222f;
  border-color: transparent;
  color: white;
  margin-left: 300px;
  &:hover,
  &:focus {
    background: #fff;
    color: #c6222f;
    border-color: #c6222f;
  }
}
.btn-unguide {
  background-color: #6AAFD8;
  border-color: transparent;
  color: white;
  margin-left: 300px;
  margin-bottom: 10px;
  &:hover,
  &:focus {
    background: #fff;
    color: #6AAFD8;
    border-color: #6AAFD8;
  }
}
