.col-md-12 {
  padding-left: 0px;
  padding-right: 0px;
}
.footer-style {
  background-color: #c6222f;
  margin-top: 0px;
  padding-top: 20px;
  position: relative;
  clear: both;
  a {
    color: #fff;
    &:hover,
    &:focus {
      color: #fff;
    }
  }
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 1px 0px 0px;
  border-style: solid none none;
  border-color: #EEE -moz-use-text-color -moz-use-text-color;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
}
#wrap {
  min-height: 100%;
}
#main {
  overflow: auto;
  padding-bottom: 150px;
  /* this needs to be bigger than footer height*/
}
