.panel-bd-home-popular {
  border-bottom: 1px solid rgba(3, 5, 5, 0.2);
  min-height: 230px;
  padding-left: 0px;
  padding-right: 0px;
  .media {
    .media-img {}
    .media-konten {
      .title {
        margin-top: 0px;
      }
      .alamat {
        margin-top: 0px;
      }
      .notelp {
        margin-top: 0px;
      }
      .rating {
        margin-top: 0px;
      }
    }
    .media-caption {
      text-align: justify;
    }
  }
}
.panel-bd-home-review {
  border-bottom: 1px solid rgba(3, 5, 5, 0.2);
  min-height: 230px;
  .media {
    .media-img {
      margin-top: 10px;
      width: 100px;
      height: 80px;
      padding-left: 15px
    }
    .media-konten {
      margin-top: -10px;
      text-align: justify;
      .like-comment {
        .tanggal-review {
          padding-left: 50px;
        }
        .comment {
          padding-left: 30px;
        }
      }
    }
  }
  .media-review {
    margin-top: 25px;
  }
}
.panel-bd-home-berita {
  border-bottom: 1px solid rgba(3, 5, 5, 0.2);
  min-height: 230px;
  padding-left: 0px;
  padding-right: 0px;
  .media {
    .media-img {}
    .media-konten {
      .judul-berita {
        margin-top: 0px;
      }
      .tanggal-berita {
        margin-top: 0px;
      }
      .sumber {
        margin-top: 0px;
      }
    }
    .media-caption {
      text-align: justify;
    }
  }
}
