.page-kategori {
  box-shadow: 0 0px 0px 0px rgba(114, 114, 114, 0.29), 0 -0px 0px 0px rgba(114, 114, 114, 0.29), -12px 0 10px -4px rgba(114, 114, 114, 0.29), 12px 0 10px -4px rgba(114, 114, 114, 0.29);
  .panel {
    .img-responsive {}
    .panel-heading {
      .panel-title {
        text-align: center;
        font-weight: 800;
        color: #3786C8;
      }
    }
  }
}
